@mixin cubo {
	grid-area: imagen;
	display: flex;
	flex-wrap: wrap;
	background-color:#b91c1c;
	justify-content: center;
	width: 800px;
	height: 400px;
	margin: auto;
	border-radius: 5%;
	display: flex;
	padding: 30px;
	gap: 15px;
}
@mixin cubo--chico {
	grid-area: resultado;
	justify-content: center;
	background-color:#b91c1c;
	width: 400px;
	height: 400px;
	margin: auto;
	border-radius: 10%;
	text-align: center;	
}
