/*Normalize*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Kdam Thmor Pro', sans-serif;
	color: rgb(10, 10, 10);
	background: #f2f2f2;
	font-size: 1em;
	line-height: 1.5em;
	width: 100%;
}
/*Fin normalize*/